*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: var(--font-weight-regular);
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--color-text-primary);
  background: var(--color-background-app);
  line-height: var(--line-height-body);
  font-family: var(--font-family-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
