@import './colors.css';
@import './typography.css';
@import './base.css';
@import '../components/shared/shared.css';

body {
  background: var(--color-background-page);
  user-select: text;
}

#root {
  min-height: 100vh;
}

button,
[role='button'],
.material-symbols-outlined {
  user-select: none;
}
